{% extends "::base.html.twig" %}

{% block arianne %}
    {{ parent() }}
    <li>Create Post<span class="divider"></span></li>
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ elfinder_tinymce_init4() }}
    {{ tinymce_init() }}

{% endblock %}